extends layout

include mixins/_siteCard


block content
    .inner
        h1= title
        table.table
            thead
                td Client
                td Vendor Homepage
                td Monthly Costs
            each vendor in vendors
                tr
                    td
                        a(href=`/vendor/${vendor.slug}`)= vendor.name
                    td
                        a(href=`https://${vendor.link}`)= vendor.link
                    td= vendor.monthlyCosts
