extends layout

block content
    .single__hero
        h1= vendor.name
    .single__details.inner
        .card
            .site__actions
                .site__action.site__action--edit
                    a(href=`/vendor/${vendor.slug}/edit`)
                        != h.icon('pencil')
            h2
                a(href=`${vendor.link}`)= vendor.link
