//@font-face {
//    font-family: 'panama';
//    src: url('/fonts/panama-bold-webfont.woff2') format('woff2'),
//         url('/fonts/panama-bold-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//
//}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans:700');

html {
  font-size:10px;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 5rem;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
  letter-spacing:-1px;
}
nav {
  h1 {
    font-size: 3rem;
  }
}
a {
  text-decoration: none;
  color:$black;
  font-weight: bolder;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}

td {
  a{
    color: #23527c;
  }
  a:focus, a:hover {
    color: lighten(#23527c, 15%);
    text-decoration: underline;
  }
}

.title {
  word-wrap: break-word;
  position: relative;
  z-index: 2;
  margin:0;
  font-size: 40px;
  z-index: 2;
  line-height:1.1;
  &--long {
    font-size: 30px;
  }
  &:before {
    content: '';
    width:50px;
    left:0;
    top:0;
    height:100%;
    // top:10%;
    display: block;
    position: absolute;
    z-index: -1;
    transform:skew(-5deg)
  }
  line-height:1.1;
  // inline link inside
  a {
    border-bottom: 0;
  }
}

.title--single {
  max-width: 600px;
  margin-top: -9rem;
  font-size: 10rem;
  text-align: center;
}
